[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file=/etc/prometheus/prometheus.yml \
    --storage.tsdb.path=/var/lib/prometheus/ \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries

# Make sure to restart the process if it crashes
Restart=on-failure

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=4096

# Disable sending OOM kill requests for this service
OOMScoreAdjust=-1000

# Adjust nice value (priority)
Nice=-20

[Install]
WantedBy=multi-user.target